# CityBikes

Send a request to CityBikes for the city of your choice.

In [19]:
import pandas as pd
import requests
import os

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [20]:
#i need to know the bikestations in the city and the number of bikes
city_bikes = requests.get('http://api.citybik.es/v2/networks/santander-cycles')

In [21]:
#for easy manupulation, change mydata to a dictionary
todict= json.loads(city_bikes.text)

In [23]:

#I extract only the stations info about 'london' since I used london 'ID' 
stations = todict['network']['stations']

Put your parsed results into a DataFrame.

In [24]:
stations
stationbikes = pd.DataFrame(stations)
stationbikes

,empty_slots,extra,free_bikes,id,latitude,longitude,name,timestamp
0,11,"{'installDate': '1278947280000', 'installed': ...",8,7f3020118e56165ed8b2f61899edb971,51.529163,-0.109971,"001023 - River Street , Clerkenwell",2024-05-13T01:19:03.299000Z
1,20,"{'installDate': '1278585780000', 'installed': ...",17,67e6c16bce05410ba4b1f0f5000726ea,51.499607,-0.197574,"001018 - Phillimore Gardens, Kensington",2024-05-13T01:19:03.310000Z
2,15,"{'installDate': '1278242460000', 'installed': ...",2,26184215d38089fcad213ef222e69780,51.505974,-0.092754,"001024 - Park Street, Bankside",2024-05-13T01:19:03.324000Z
3,16,"{'installDate': '1278340440000', 'installed': ...",7,1eabd7ac8e781befd03f52ef56a18aa7,51.523951,-0.122502,"001022 - Brunswick Square, Bloomsbury",2024-05-13T01:19:03.325000Z
4,44,"{'installDate': '1278340620000', 'installed': ...",2,23efb32f80a9dcd0e4f61fb44b353ce1,51.521681,-0.130432,"000980 - Malet Street, Bloomsbury",2024-05-13T01:19:03.328000Z
...,...,...,...,...,...,...,...,...
787,16,"{'installDate': '1279885320000', 'installed': ...",2,2db775eff9ba5222e5c53580d025782b,51.510048,-0.138846,"001197 - Sackville Street, Mayfair",2024-05-13T01:19:04.168000Z
788,19,"{'installDate': '1384968480000', 'installed': ...",15,8ecc337dd1950c019e8d01e27c886e23,51.536425,-0.054162,"300011 - Victoria Park Road, Hackney Central",2024-05-13T01:19:04.979000Z
789,16,"{'installDate': '1296125400000', 'installed': ...",5,4199b8128833a99369bc72178ed8721b,51.506864,-0.150667,"003506 - Stanhope Gate, Mayfair",2024-05-13T01:19:04.288000Z
790,17,"{'installDate': '1279291500000', 'installed': ...",2,51acbe456158a598628a833232e6e2a2,51.491212,-0.173716,"001124 - Sumner Place, South Kensington",2024-05-13T01:19:03.773000Z
791,18,"{'installDate': '1279205220000', 'installed': ...",1,875b49fd8018996a5f1840b6322d951b,51.512276,-0.157437,"003464 - Green Street, Mayfair",2024-05-13T01:19:03.681000Z

In [25]:
stationbikes.info() #we don't have any incomplete values in our data
#for future use, I will export stationbikes as excel

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   empty_slots  792 non-null    int64
 1   extra        792 non-null    object
 2   free_bikes   792 non-null    int64
 3   id           792 non-null    object
 4   latitude     792 non-null    float64
 5   longitude    792 non-null    float64
 6   name         792 non-null    object
 7   timestamp    792 non-null    object
dtypes: float64(2), int64(2), object(4)
memory usage: 49.6+ KB