# CityBikes

Send a request to CityBikes for the city of your choice.

In [86]:
import pandas as pd
import requests

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [87]:
#i need to know the bikestations in the city and the number of bikes
id = 'santander-cycles'
mydata = requests.get('http://api.citybik.es/v2/networks/'+id)

In [88]:
#for easy manupulation, change mydata to a dictionary
todict= json.loads(mydata.text)

In [89]:

#I extract only the stations info about 'london' since I used london 'ID' 
stations = todict['network']['stations']

Put your parsed results into a DataFrame.

In [90]:
stations
stationbikes = pd.DataFrame(stations)
stationbikes

,empty_slots,extra,free_bikes,id,latitude,longitude,name,timestamp
0,5,"{'installDate': '1278947280000', 'installed': ...",8,7f3020118e56165ed8b2f61899edb971,51.529163,-0.109971,"001023 - River Street , Clerkenwell",2024-05-08T03:25:16.473000Z
1,25,"{'installDate': '1278585780000', 'installed': ...",12,67e6c16bce05410ba4b1f0f5000726ea,51.499607,-0.197574,"001018 - Phillimore Gardens, Kensington",2024-05-08T03:25:16.485000Z
2,11,"{'installDate': '1278242460000', 'installed': ...",7,26184215d38089fcad213ef222e69780,51.505974,-0.092754,"001024 - Park Street, Bankside",2024-05-08T03:25:16.497000Z
3,22,"{'installDate': '1278340440000', 'installed': ...",1,1eabd7ac8e781befd03f52ef56a18aa7,51.523951,-0.122502,"001022 - Brunswick Square, Bloomsbury",2024-05-08T03:25:16.498000Z
4,40,"{'installDate': '1278340620000', 'installed': ...",7,23efb32f80a9dcd0e4f61fb44b353ce1,51.521681,-0.130432,"000980 - Malet Street, Bloomsbury",2024-05-08T03:25:16.499000Z
...,...,...,...,...,...,...,...,...
785,6,"{'installDate': '', 'installed': True, 'locked...",18,ccbe01fc953e48e3490729699f9071bf,51.481021,-0.209973,"200098 - Aintree Street, Fulham",2024-05-08T03:25:18.314000Z
786,10,"{'installDate': '1279376760000', 'installed': ...",6,af6e4ecfa983d291fcff608792659dbf,51.516518,-0.164394,"001112 - Nutford Place, Marylebone",2024-05-08T03:25:17.020000Z
787,18,"{'installDate': '1279885320000', 'installed': ...",0,2db775eff9ba5222e5c53580d025782b,51.510048,-0.138846,"001197 - Sackville Street, Mayfair",2024-05-08T03:25:17.332000Z
788,1,"{'installDate': '1384968480000', 'installed': ...",32,8ecc337dd1950c019e8d01e27c886e23,51.536425,-0.054162,"300011 - Victoria Park Road, Hackney Central",2024-05-08T03:25:18.537000Z
789,21,"{'installDate': '1296125400000', 'installed': ...",0,4199b8128833a99369bc72178ed8721b,51.506864,-0.150667,"003506 - Stanhope Gate, Mayfair",2024-05-08T03:25:17.455000Z

In [85]:
#for future use, I will export stationbikes as excel

In [91]:
citybiks= stationbikes.to_excel("stations.xlsx", sheet_name="stations")