Build a regression model.

In [12]:
import pandas as pd
import matplotlib.pyplot as pl
import numpy as np
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [29]:
#import dataset
data = pd.read_excel('data_model.xlsx', sheet_name= 'data_model', engine = 'openpyxl')
data
#prepare data for linear regression by separating dependent variable and independent variables: we 
#want to predict the stations choice based restaurant performance/perception
X = data[['review_count']]
y = data[[ 'empty_slots', 'free_bikes']]
#training the model and evaluating its performance: we use fit method and evaluate its performance 
model = LinearRegression().fit(X, y)
#using score method, which returns the r-squared value
#model.fit(x, y)

0.9774541690203772

Provide model output and an interpretation of the results.

In [16]:
#studing the model output
result = model.score(X, y)
result 
#result = 0.6675559949626377 shows the coefficent of determination that need improvement. this must 
#be due to presence of 'rating' in the dependent variables because when we remove it, all of a sudden
#the value goes to 0.9774541690203772; indicating a high relationship between independent variables 
#and dependent variables

#interpretation
#outcome: how does restaurant performance/perception affect nearby bike stations?
#from the above , we can conclude that bike slots usage is highly affected by nearby resaurants 
#performance/perception

,Unnamed: 0,resto_name,review_count,rating,empty_slots,free_bikes
0,0,Blacklock,118500,4.60,10030,9930
1,1,Burger & Lobster,90060,4.50,10030,9930
2,2,Dinner by Heston Blumenthal,246480,4.40,10030,9930
3,3,Dishoom,2595150,4.55,20060,19860
4,4,Flat Iron,379200,4.50,10030,9930
5,5,Hawksmoor Seven Dials,314420,4.40,10030,9930
6,6,Petrus,106650,4.40,10030,9930
7,7,The Ledbury,136670,4.60,10030,9930
8,8,The Mayfair Chippy,402900,4.50,10030,9930

# Stretch

How can you turn the regression model into a classification model?

In [ ]:
#While a regression model works on numberic data, the classification model works with categorical data. 
# Therefore, in order to turn the above regression model; I will need to turn my continous data into 
#some for of categorical data

e.g: 
#rating: 0 (poor) or 1 (good)
#empty_slots: N (near), A (around), F(far)